/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  text-align: left;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 414px; 
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

nav {
  padding-left: 7px;
  padding-top: 20px;
}

.description  {
  padding-left: 7px;
  padding-right: 77px;
  padding-bottom: 47px;
}

h1 {
  padding-left: 7px;
  padding-top: 53px;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
}

main div {
  font-size: 12px;
  padding-left: 9px;
}

.view-floorplan {
  padding-bottom: 20px;
  padding-top: 10px;
}

.text {
  padding-top: 54px;
  padding-right: 77px;
  padding-bottom: 56px;
  line-height: 26px;
}

.back-to-projects {
  text-align: center;
  size: 12px;
  padding-top: 28px;
  padding-bottom: 25px;
}

footer {
  background-color: black;
  color: white;
  font-size: 12px;
  padding-top: 30px;
  padding-left: 7px;
  padding-bottom: 38px;
}

.footer-text-size {
  font-size: 10px;
  padding-top: 22px;
}

main, img {
  width: 100%;
}

.info {
  margin-bottom: 14px;
}

/* ====================================
// base rules
// ==================================== */
